@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.btn {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    font-weight: 700;
}
.btn-primary {
    background-color: #e2645a !important;
    color: #fff !important;
    mix-blend-mode: normal;
    box-shadow: 0px 3px 12px rgba(226, 100, 90, 0.5);
    border-radius: 29px;
    border-color: #e2645a !important;
}

.btn-primary:hover {
    box-shadow: 0px 18px 31px rgba(226, 100, 90, 0.38), 0px 4px 12px rgba(226, 100, 90, 0.05);
    border-radius: 29px;
}

.btn-secondary {
    background-color: #86d0cb !important;
    color: #fff !important;
    mix-blend-mode: normal;
    box-shadow: 0px 3px 12px #86d0cb;
    border-radius: 29px;
    border-color: #86d0cb !important;
}

.btn-secondary:hover {
    background-color: #86d0cb;
    mix-blend-mode: normal;
    box-shadow: 0px 18px 31px rgba(134, 208, 203, 0.38), 0px 4px 12px rgba(134, 208, 203, 0.05);
    border-radius: 29px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather", serif !important; 
    font-style: normal;
    font-weight: bold;
    line-height: 150.84%;
}

p {
    color: #585858;
    font-family: 'Lato', sans-serif !important;
}
