<a class="menu-toggle rounded" href="#">
  <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#page-top">Home</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#about">About</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#services">Services</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#contact">Contact</a>
    </li>
  </ul>
</nav>

<!-- Header -->
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <h1 class="mb-1">Mamba + Lejour</h1>
    <h3 class="mb-5">
      <em></em>
    </h3>
    <button class="btn btn-primary btn-xl js-scroll-trigger" (click)="goToDashboard()">Find Out More</button>
  </div>
  <div class="overlay"></div>
</header>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

  <!-- Footer -->
  <footer class="callout footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          
        </li>
        <li class="list-inline-item">
         
        </li>
        <li class="list-inline-item">
         
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; 2020</p>
    </div>
  </footer>
