<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white sidebar-wrapper" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <!-- Brand -->
    <!-- User -->
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Navigation -->
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="/home">Mamba + Lejour</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" [routerLink]="['/home']">Home</a>
          </li>       
        </ul>
    </div>
  </div>
</nav>


<div class="main-content">
  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid-2">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-8 col-lg-8 offset-lg-2">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Agora é Oficial!</h5>
                    <span class="h2 font-weight-bold mb-0">Seu casamento foi publicado no diário oficial</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                      <i class="fas fa-check"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Declaramos Lucas e Maria, oficialmente, marido e mulher!</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <div class="container mb-5">
              <br>
              <h1>Que vocês sejam felizes para sempre!</h1>
              <div class="row">
                <div class="col-3">
                  <a class="btn btn-pink btn-block" (click)="">Emitir Certidão</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>